  <div class="jumbotron">
    <h1> A simple and easy to use Accounting Software coming soon</h1>
    <p> Now with only USD 100 a year, you will get a proper financial record and statement in our platform. Created by Business owner for Business Owner!!! </p>
    <p><%= link_to "Sign up to enjoy limitless benefit", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>