<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> Search Nearby For Services </h1>
    <p> Within 5km, there is a lot of business communities around you! Go make some some friends! </p>
    <p><%= link_to "Sign up to enjoy limitless benefit", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    
<% end %>
  </div>
  
<div class="row">
  <% @businesses.each do |business| %>
   
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(business.pictures.first.medium),business %>
        <p>Commision: <strong><%= business.commision %></strong></p>
      </div>
    </div>
  <% end %>
</div>